{% extends 'base.html' %}

{% block content %}

{% load static %}
    <main>
        <div>
            <h1 class='span'> Craigslist </h1>
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
            <a class='button' style="vertical-align:middle" href={{'https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley'}}> Home </a>
                <table class="center">
                    <tr>
                        <th> Price </th>
                        <th> Title </th>
                        <th> Listing </th>
                    </tr>
                    {% for car in cars %}
                    <tr class="prices">
                        <td class="price"> {{car.Price}} </td>
                        <td> {{car.Title}} </td>
                        <td>  <a href={{car.URL}}> {{car.URL}} </a>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
        </div>
    </main>
{% endblock %}